@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600;700&display=swap');

.container-box {
    height: 4rem;
    background-color: black;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: sans-serif;
    padding-inline: 1rem;
    width: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    z-index: 1;
    font-family: 'Quicksand', sans-serif;
}

.menu-desktop,
.menu-mobile {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    
}

.menu-mobile {
    display: none;
}



.link {
    margin-inline: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

.burger-menu {
    background-color: black;
    flex-grow: 1;
    width: 100%;
    position: absolute;
    z-index: 1;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 15px -2px;
    margin-top: 4rem;
}

.burger-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .5rem;
}
.avatar{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

@media (max-width: 425px) {
    .menu-mobile {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: space-between;
    }

    .menu-desktop {
        display: none;
    }
}